
/*************************
GENERAL
*************************/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #422C83;
    display: inherit;
}

/*************************
HEADING
*************************/

header {
    text-align: center;
    color: #886ED7;
    width: 100%;
}

/*************************
HELP PAGE
*************************/
.content {
    width: 90%;
    padding-left: 5%;
}

.content p, h3 {
    color: #ffffff;
}

.content h2 {
    color: #886ED7;
}

    /*************************
    HELP FORM
    *************************/

    #contact_us {
        margin-bottom: 1em;
    }

    #name {
        width: 90%;
        margin-bottom: 2em;
        border-radius: 5px;
    }

    #email {
        width: 90%;
        margin-bottom: 2em;
        border-radius: 5px;
    }

    #subject {
        width: 90%;
        margin-bottom: 2em;
        border-radius: 5px;
    }

    #textarea {
        width: 90%;
        height: 3em;
        border-radius: 5px;
    }

    #error {
        color: #8b0000;
        font-weight: bold;
        margin-left: 0;
    }

/*************************
INDEX PAGE
*************************/

#wrapper {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

    /*************************
    MODE
    *************************/

    .button {
      height: 50px;
      width: 100px;
      margin: 50px auto;
      text-align: center;
      border-radius: 20px;
      outline: 0;
    }

     /*************************
    RADIO BUTTONS
    *************************/

    #settings ul {
        width: 125px;
        margin: 0 auto;
        padding: 0 0 0 0;
    }


    #settings ul li {
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 5px 0;
        text-align: left;
    }


/*************************
FOOTER
*************************/

footer {
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

footer li {
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: #886ED7;
    font-weight: 500;
    padding: 15px 10px;
    -o-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

footer a:visited {
    color: #886ED7;
}

footer a:hover, footer a.selected {
    color: #201349;
}

