/*************************
GENERAL
*************************/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #422C83;
}

/*************************
HEADING
*************************/

#header {
    text-align: center;
    color: #886ED7;
    width: 100%;
}

/*************************
CONTENT
*************************/

#content p, h3 {
    color: #ffffff;
}

#content h2 {
    color: #886ED7;
}


/*************************
FOOTER
*************************/

footer {
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

footer li {
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: #886ED7;
    font-weight: 500;
    padding: 15px 10px;
    -o-transition:color .2s ease-out;
    -ms-transition:color .2s ease-out;
    -moz-transition:color .2s ease-out;
    -webkit-transition:color .2s ease-out;
    transition: color .2s ease-out;
}

footer a:hover {
    color: #201349;
}
