{% load staticfiles %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Sandman</title>

    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
</head>

<body>
<div id="header">
    <h1>HELP</h1>
</div>
<div class="content">
    <h2>Getting Started</h2>

    <p>Sandman will help you sleep through the night by silencing
        all calls except those in your "Charmed Circle".</p>

    <p>Just sync Sandman to your phone's contact list,
        choose the contacts you wish to mark "Charmed",
        and turn on the sleep mode when you go to bed.
        Don't forget to choose 'Wake' when you want to unsilence your phone.</p>
    <br>

    <h2>FAQs</h2>

    <h3>How do I make Sandman automatically turn on and off?</h3>

    <p>Click the link to "Settings" and choose "Auto" in the menu.
        A drop-down menu will allow you to set your 'sleep' and 'wake' times.
        You can set Sandman to be manual, automatic or 1/2 and 1/2, which allows
        you to manually 'sleep' and auto 'wake' or vice versa.</p>
    <br>
    <br>

    <h2>Contact Us</h2>
</div>
<div class="content">
    <form id="contact_us" method="POST" action="/help_ajax/">
{#        {% csrf_token %}#}
        <input id="name" type="text" name="name" placeholder="Your Name"><br/>
        <input id="email" type="text" name="email" placeholder="Email Address"><br/>
        <input id="subject" type="text" name="subject" placeholder="Subject"><br/>
        <textarea id="textarea" name="message" placeholder="What can we help you with?"></textarea>
        <p id="error"></p><br/>
        <input id="submit" type="submit" value="Submit">
    </form>
    <p id="error"></p>
</div>
<br />
<script>

        var elName = document.getElementById("name");
        var elEmail = document.getElementById("email");
        var elSubject = document.getElementById("subject");
        var elMsg = document.getElementById("textarea");
        var elError = document.getElementById("error");
        var event = document.getElementById("submit");

        var xhr = new XMLHttpRequest();

        function submitHelp(formData) {
            xhr.open("POST", "/sandman/help_ajax/", true); //prepares the request
            console.log(formData);
            xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xhr.send(formData); //sends data to server
            xhr.onload = function () { //function triggers after server responds
                if(xhr.readyState === 4 && xhr.status === 200) {
                    elError.textContent = "Thank you for submitting."
                }
            }
        }

        function captureSubmit(){
            var elementList = document.getElementById("contact_us").children;
            var formDataList = [];
            for(var i=0; i < elementList.length; i++){
                var element = elementList[i];
                console.log(elementList);
                if(element.tagName == "INPUT" || element.tagName == "TEXTAREA") {
                    formDataList.push(
                            encodeURIComponent(element.name)//matches name attribute of input
                            + "=" +
                            encodeURIComponent(element.value)
                    );
                }
            }
            submitHelp(formDataList.join("&"));
            return false;
        }

        function checkFields(e) {
            e.preventDefault();
            errorCount = 0;
            var name = elName.value;
            var msg =  elMsg.value;
            var email = elEmail.value; //need to get the str of elements using .value so 'if' statements can check value
            elError.textContent = "";
            if (name.length < 2) {
                elError.textContent += "Please enter your name.";
                errorCount++;
            }
            if (email == ' ' || email.indexOf('@') == -1 || email.indexOf('.') == -1) {
                elError.textContent += "Please enter a valid email";
                errorCount++;
            }
            if (msg.length < 10) {
                elError.textContent += "Please let us know what we can help you with.";
                errorCount++;
            }
            if(errorCount > 0) {
                e.preventDefault();
                }
            if(errorCount === 0) {
                captureSubmit();
            }
        }


        var elForm = document.getElementById("contact_us");
        elForm.addEventListener('submit', checkFields, false);

    </script>

<div class="content">
    <footer>
        <ul>
            <li><a href="/sandman/">Home</a></li>
            <li><a href="/sandman/charmed/">Charmed Circle</a></li>
            <li><a href="/sandman/settings/">Settings</a></li>
            <li><a href="/sandman/help/" class="selected">Help</a></li>
        </ul>
    </footer>
</div>
</body>

</html>