{% load staticfiles %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Sandman</title>

    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
</head>

    <body>
        <div id="header">
            <h1>SETTINGS</h1>
        </div>
        <form id="settings" action="/sandman/settings/" method="POST" onsubmit="return captureSubmit()">
            <p>
                <input type="radio" name="set" value="manual" checked="checked" /> Manual <br />
                <input type="radio" name="set" value="half" /> Half and Half <br />
                <input type="radio" name="set" value="auto" /> Automatic <br />
            </p>
        </form>
        <footer>
            <ul>
                <li><a href="/sandman/">Home</a></li>
                <li><a href="/sandman/charmed/">Charmed Circle</a></li>
                <li><a href="/sandman/settings/" class="selected">Settings</a></li>
                <li><a href="/sandman/help/">Help</a></li>
            </ul>
        </footer>
    </body>

</html>